@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1e1e1;
    font-family: "Nunito", sans-serif;
}

/* colour palettes
#e1e1e1
#7a7a7a
#232c33
#A20021
#ec9f05
*/

.navbar {
    background-color: #7a7a7a;
    position: fixed;
    width: 97vw;
    top: 0;
    left: 0;
    padding: 15px 40px;
    z-index: 9999;
}

.navbar a {
    color: #232c33;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar a:hover {
    color: #a20021;
}

.nav-options {
    float: right;
    font-size: 1rem;
    padding-right: 40px;
}

.landing {
    width: 98vw;
    display: flex;
    padding: 5vw;
    margin-top: 4vw;
    box-sizing: border-box;
    align-items: center;
}

.landing-text {
    width: 60vw;
    margin-left: 5vw;
}

.landing img {
    width: 40vw;
}
 
.landing h2 {
    font-size: 2.5rem;
}

.landing p {
    font-size: 1.5rem;
    line-height: 1.8
}

.about {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 1vw;
}

.about p {
    font-size: 1.5rem;
}

.about-images {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2vw;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 4vw;
}

.about-images img {
    width: 30vw;
}

.project-header {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.project-header h2 {
    font-size: 2.5rem;
}

.project-header h3 {
    font-size: 1.5rem;
}

.project-header h4 {
    font-size: 1.5rem;
    padding-left: 2vw;
}

.project-header p {
    font-size: 1.5rem;
    padding-left: 2vw;
}

.project-header a {
    color: #232c33;
    text-decoration: none;
}

.project-header a:hover {
    color: #a20021;
}

.photo-header {
    display: flex;
    padding: 5vw;
    padding-bottom: 2vw;
    margin-top: 4vw;
}

.photo-header h2 {
    font-size: 2.5rem;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    padding-right: 7vw;
    justify-content: center;
    gap: 2vw 2vw;
}

.photos img {
    width: 26vw;
}