@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1e1e1;
    font-family: "Nunito", sans-serif;
}

/* colour palette
#e1e1e1
#7a7a7a
#232c33
#A20021
#ec9f05
*/

.landing {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing h2 {
    font-size: 3rem;
}

.landing p {
    font-size: 2rem;
}

.about p {
    font-size: 2rem;
}

.about-images {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
}